<style>
    .tips {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(2rem, auto);
        grid-gap: 1rem;
        justify-items: center;
    }
    p {
        text-align: justify;
    }
    .card {
        width: 335px;
    }
    .card .card-image img {
        min-height: 251px   ;
        max-height: 251px;
    }
    .botones {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        Justify-content: space-between; 
    }
    @media only screen and (max-width: 1200px) {
        .tips {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media only screen and (max-width: 768px) {
        .tips {
            grid-template-columns: repeat(2, 1fr);
        }
        .card {
            width: 250px;
        }
    }
    @media only screen and (max-width: 540px) {
        .tips {
            grid-template-columns: repeat(1, 1fr);
        }
        .card {
            width: 100%;
        }
        .card .card-image img {
            min-height: 170px   ;
            max-height: 170px;
        }
    }
</style>
<div class="container">
    <div class="card-action">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/admin/addExercise">
            <i class="material-icons">add</i>
        </a>
    </div>

    <hr/>
    <h4>Ejercicios Quemagrasa</h4>
    <div class="tips">
        {{#each quemagrasa}}
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img loading="lazy" class="activator img-eje" src={{img_eje}}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{nom_eje}}
                    <hr />
                </span>
                <p class="botones">
                    <a class="waves-effect yellow darken-3 btn" href="/admin/editExercise/{{id_eje}}">
                        Editar
                    </a>
                    <a class="waves-effect red darken-4 white-text text-darken-2 btn" href="/admin/delete/exercise/{{id_eje}}">
                        Eliminar
                    </a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    {{intensidad}}
                    <i class="material-icons right">close</i>
                </span>
                <h6> {{series}} series de {{cantidad}} {{tip_med}} </h6>
                <hr>
                <p> {{des_eje}} </p>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/no_exercises.jpg">
                        <span class="card-title">UPPS!</span>
                    </div>
                    <div class="card-content">
                        <p>Al parecer no existen ejercicios para asignar, ingresa algunos para que 
                            nuestros usuarios comiencen a ejercitarse!
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/admin/addExercise">Agrega aquí!</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    
    {{!-- EJERCICIOS DE CARDIO --}}
    <hr />
    <h4>Ejercicios de cardio</h4>
    <div class="tips">
        {{#each cardio}}
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img loading="lazy" class="activator img-eje" src={{img_eje}}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{nom_eje}}
                    <hr />
                </span>
                {{!-- <p><a href="#">This is a link</a></p> --}}
                <p class="botones">
                    <a class="waves-effect yellow darken-3 btn" href="/admin/editExercise/{{id_eje}}">
                        Editar
                    </a>
                    <a class="waves-effect red darken-4 white-text text-darken-2 btn" href="/admin/delete/exercise/{{id_eje}}">
                        Eliminar
                    </a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    {{intensidad}}
                    <i class="material-icons right">close</i>
                </span>
                <h6> {{series}} series de {{cantidad}} {{tip_med}} </h6>
                <hr>
                <p> {{des_eje}} </p>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/no_exercises.jpg">
                        <span class="card-title">UPPS!</span>
                    </div>
                    <div class="card-content">
                        <p>Al parecer no existen ejercicios para asignar, ingresa algunos para que 
                            nuestros usuarios comiencen a ejercitarse!
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/admin/addExercise">Agrega aquí!</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- EJERCICIOS DE ALTO RENDIMIENTO --}}
    <hr />
    <h4>Ejercicios de alto rendimiento</h4>
    <div class="tips">
        {{#each altoRend}}
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img loading="lazy" class="activator img-eje" src={{img_eje}}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{nom_eje}}
                    <hr />
                </span>
                {{!-- <p><a href="#">This is a link</a></p> --}}
                <p class="botones">
                    <a class="waves-effect yellow darken-3 btn" href="/admin/editExercise/{{id_eje}}">
                        Editar
                    </a>
                    <a class="waves-effect red darken-4 white-text text-darken-2 btn" href="/admin/delete/exercise/{{id_eje}}">
                        Eliminar
                    </a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    {{intensidad}}
                    <i class="material-icons right">close</i>
                </span>
                <h6> {{series}} series de {{cantidad}} {{tip_med}} </h6>
                <hr>
                <p> {{des_eje}} </p>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/no_exercises.jpg">
                        <span class="card-title">UPPS!</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Al parecer no existen ejercicios para asignar, ingresa algunos para que 
                            nuestros usuarios comiencen a ejercitarse!
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/admin/addExercise">Agrega aquí!</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
