
<style>
    .tips {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(2rem, auto);
        grid-gap: 1rem;
    }
    p {
        text-align: justify;
    }
    .card:hover {
        border: #01A9DB solid 2px;
    }
</style>
<div class="container">
    <div class="tips">
        {{#each exercises}}
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src={{img_eje}}>
            </div>
            <div class="card-content row" style="text-align: center;">
                <span class="card-title grey-text text-darken-4">{{nom_eje}}</span>
                <a class="btn waves-effect yellow darken-3 col s4">Editar</a>
                <button class="activator waves-effect waves-light btn col s4">Ver</button>
                <a class="btn waves-effect red col s4" href="/admin/delete/exercise/{{id_eje}}">Eliminar</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{intensidad}}<i class="material-icons right">close</i></span>
                <h6> {{series}} series de {{cantidad}} {{tip_med}} </h6>  <hr>
                <p> {{des_eje}} </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>