<div class="container" style="margin-top: 3rem;">
    <div class="row">
        <div class="col s12">
            <table class="striped centered responsive-table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellido</th>                        
                        <th>Fecha de nacimiento</th>  
                        <th>Genero</th>
                        <th>Padecimiento</th>
                        <th>frecuencia con la que hace ejercicio</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        {{#each usuarios}}
                        <td>{{nom_usu}}</td>
                        <td>{{email_usu}}</td>
                        <td>{{nombre}}</td>
                        <td>{{apellido}}</td>                        
                        <td>{{fec_nac}}</td>  
                        <td>{{nom_gen}}</td>
                        <td>{{tip_enf}}</td>
                        <td>{{fre_eje}}</td>                        
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>